<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Giphy!</title>
</head>
<body>
  {{!-- <small>(default.hbs)</small> --}}
  <h1>Something fun: GIPHYS!!</h1>
  <hr>

  {{{ body }}}
</body>
</html>