{{!-- <small>first_page.hbs</small> --}}
<h3>Enter an input to search for a gif</h3>

<form method="GET" action="/search">
  <input type="text" name="search-term" placeholder="enter a search term" size="50">
  <button type="submit">SEARCH</button>
</form>